@tailwind base;
@tailwind components;
@tailwind utilities;
.menu {
  @apply text-sm hover:text-primary-dark transition delay-200 ease-in-out duration-1000 hover:border-b-primary-dark hover:border-b-2 focus:text-primary-dark focus:border-primary-dark hover:cursor-pointer hover:font-extrabold hover:scale-105;
}
.menu-block {
  @apply hover:text-primary-dark transition delay-200 ease-in-out duration-1000 border-b border-b-gray-800 pb-2 pt-2 hover:cursor-pointer flex hover:font-extrabold hover:scale-95;
}
.icon:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(156 163 175));
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(156 163 175));
  /* color: rgb(0, 168, 143); */
}
.bg-icon {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}
input {
  @apply w-full mt-4 py-1 pl-2 text-secondary-dark border rounded-md w-full focus:outline-none focus:ring focus:ring-secondary-dark text-base leading-9 tracking-wide font-thin focus:opacity-50 focus:bg-gray-100 transition delay-150 ease-in-out duration-700;
}
select {
  @apply w-full mt-4 py-1 pl-2 text-secondary-dark border rounded-md w-full focus:outline-none focus:ring focus:ring-secondary-dark text-base leading-9 tracking-wide font-thin focus:opacity-50 focus:bg-gray-100 transition delay-150 ease-in-out duration-700;
}
option {
  @apply w-full mt-4 py-1 pl-2 text-secondary-dark border rounded-md w-full focus:outline-none focus:ring focus:ring-secondary-dark text-base leading-9 tracking-wide font-thin focus:opacity-50 focus:bg-gray-100 transition delay-150 ease-in-out duration-700;
}

.bg {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(75 85 99));
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(75 85 99));
}
.bg-i {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(0 0 0));
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(0 0 0));
}
.ps-menuitem-root {
  @apply hover:text-gray-600;
}
.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid #c0bcbc;  */
}
.hamburgerMenu {
  cursor: pointer;
  border: none;
  padding: 10px 0;
  background: none;
}
.ps-menu-root {
  width: 100%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #05052D;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 168, 143);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 168, 143, 0.75);
}

::-webkit-scrollbar-corner {
  background: #05052D;
}
